<div>

  {{!-- Table # --}}
  <h2>Table {{dataValues.id}}</h2>

  {{#each Customers}}

    {{#unless dataValues.leftTable}}

      <div>

        <div class="customer-name">
          <h3 customerId="{{dataValues.id}}">
            {{dataValues.name}}
          </h3>
        </div>

        <ul>

          {{#each Orders}}

            {{#unless dataValues.devoured}}
              {{> orders/order-block devoured=true}}
            {{/unless}}

            {{#if dataValues.paid}}
              <li class="paid">
                <h4>
                  {{dataValues.order_name}}
                </h4>
                <button data-id="{{dataValues.id}}" disabled>
                  PAID
                </button>
              </li>
            {{else dataValues.devoured}}
              {{> orders/pay-order-block paid=true}}
            {{/if}}

        {{/each}}

        </ul>

      </div>

    {{/unless}}
  {{/each}}

</div>